@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	.svg-sm {
		width: 2rem;
		height: 2rem;
	}
	.svg-md {
		width: 3.5rem;
		height: 3.5rem;
	}
	.svg-lg {
		width: 4.5rem;
		height: 4.5rem;
	}
	.svg-xl {
		width: 6rem;
		height: 6rem;
	}
}

@layer base {
	@font-face {
		font-family: 'Sortdecai Wild';
		src: local('Sortdecai Cursive Wild Script'),
			url('/src/lib/webfonts/monthoers-webfont.woff') format('woff'),
			url('/src/lib/webfonts/monthoers-webfont.woff2') format('woff2');
		font-style: normal;
		font-display: swap;
	}
	@font-face {
		font-family: 'Swistblnk Monthoers';
		src: local('Swistblnk Monthoers Regular'),
			url('/src/lib/webfonts/monthoers-webfont.woff') format('woff'),
			url('/src/lib/webfonts/monthoers-webfont.woff2') format('woff2');
		font-style: normal;
		font-display: swap;
	}
	@font-face {
		font-family: 'Quicksand Dash';
		src: url('/src/lib/webfonts/quicksand.dash-regular.woff') format('woff'),
			url('/src/lib/webfonts/quicksand.dash-regular.woff2') format('woff2');
		font-style: normal;
		font-display: swap;
	}
}
